<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="png/jpg" href="./img/icon-logo.png">
    <link rel="stylesheet" href="./public/css/detail-produk.css">
    <title>Items Produk | Clouths.</title>
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <header>
        <div class="container-header">
            <nav class="search">
                <input type="text">
                <i data-feather="search" class="bt-search"></i>
            </nav>  
            <figure>
                <h1>Clouths.</h1>
            </figure>
            <nav class="authen">
                <button class="bt-masuk">Masuk</button>
                <button class="bt-daftar">Daftar</button>
            </nav>
        </div>
    </header>

    <main>
        <div class="container-main">
            <figure>
                <img src="./img/aiony-haust-K0DxxljcRv0-unsplash.jpg" alt="">
                <img src="./img/ayo-ogunseinde-UqT55tGBqzI-unsplash.jpg" alt="">
                <img src="./img/dom-hill-nimElTcTNyY-unsplash.jpg" alt="">
            </figure>

            <article>
                <div class="info-detail">
                    <h1>Cloth of Fashion</h1>
                    <p>Sempurnakan tampilanmu dengan tas ini! Cocok untuk dipadankan dengan berbagai macam look favoritmu!</p>
                    <h1 style="font-family: 'Poppins', sans-serif; color: red;">Rp1.000.000</h1>
                    <button>Buy Now</button>
                    <a href="">add to wishlish</a>
                </div>
            </article>

        </div>
    </main>

    <footer>
        <div class="container-footer">
            <div class="ft-1">
                <p class="logo-footer" style="font-size: 400%; cursor: pointer;">Clouths.</p>
                <p>@2024. All right reserved</p>
            </div>
            <div class="ft-2">
                <p><a href="">Main Page</a></p>
            <p><a href="">Catalog</a></p>
            <p><a href="">About Us</a></p>
            <p><a href="">Lookbook</a></p>
            </div>
            <div class="ft-3">
                <p><a href="">Size Guide</a></p>
                <p><a href="">Shipping & Payment</a></p>
                <p><a href="">About us</a></p>
                <p><a href="">Terms Of Use</a></p>
                
            </div>
            <div class="ft-4">
                <p><a href="">mas.bizon@gmail.com</a></p>
                <p>+62 85 877 838 985</p>
            </div>
        </div>
    </footer>
    
    <script>
        feather.replace()
    </script>

</body>
</html>