<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage | Clouths.</title>
    <link rel="stylesheet" href="./public/css/style.css">
    <link rel="icon" type="png/jpg" href="./public/img/icon-logo.png">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <header>
        <div class="container-header">
            <nav class="search">
                <input type="text">
                <i data-feather="search" class="bt-search"></i>
            </nav>  
            <figure>
                <h1 class="logo-header">Clouths.</h1>
            </figure>
            <nav class="authen">
                <button class="bt-masuk">Masuk</button>
                <button class="bt-daftar">Daftar</button>
            </nav>
        </div>
    </header>

    <section class="hero-section">
        <figure>
            <img src="./public/img/foto-page.png" alt="">
        </figure>
    </section>
    <nav class="choose-style">
        <h1>CHOOSE YOUR STYLE</h1>
        <div class="container-cs">
            <figure>
                <img src="./public/img/figure-1.jpg" alt="">
                <div class="overlay-text">
                    <h2>Elegan.</h2>
                </div>
            </figure>
            <figure>
                <img src="./public/img/figure-2.jpg" alt="">
                <div class="overlay-text">
                    <h2>Stylish.</h2>
                </div>
            </figure>
            <figure>
                <img src="./public/img/figure-3.jpg" alt="">
                <div class="overlay-text">
                    <h2>Comfort.</h2>
                </div>
            </figure>
            <figure>
                <img src="./public/img/figure-4.jpg" alt="">
                <div class="overlay-text">
                    <h2>Fashionable.</h2>
                </div>
            </figure>
            <figure>
                <img src="./public/img/figure-5.jpg" alt="">
                <div class="overlay-text">
                    <h2>Splendid.</h2>
                </div>
            </figure>
            <figure>
                <img src="./public/img/figure-6.jpg" alt="">
                <div class="overlay-text">
                    <h2>Trendy.</h2>
                </div>
            </figure>
        </div>
    </nav>

    <article class="choose">
        <div class="container-choose">
            <div class="choose-2">
                <figure>
                    <img src="./public/img/dollar-sign.svg" alt="">
                </figure>
                <h2>Guaranteed Money back</h2>
                <p>Money Back Within 3 Days</p>
            </div>
            <div class="choose-1">
                <figure>
                    <img src="./public/img/shopping-cart.svg" alt="">
                </figure>
                <h2>Free Worldwide Shipping</h2>
                <p>Free Shipping Worlwide</p>
            </div>
            <div class="choose-3">
                <figure>
                    <img src="./public/img/lock.svg" alt="">
                </figure>
                <h2>Safe Online Payment</h2>
                <p>100% Safe Security</p>
            </div>
        </div>
    </article>

    <article class="review">
        <div class="container-review">
            <h1>What They <span>SAY </span></h1>
            <div class="container-comment">
                <div class="comment">
                    <figure>
                        <img src="./public/img/foto-profile.png" alt="">
                    </figure>
                    <div>
                        <p>@user123456789</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam est vero maxime deleniti veniam quae ex consequatur, iure suscipit provident? Excepturi illum, nisi architecto non saepe ullam molestias. A, est.</p>
                    </div>
                </div>
                <div class="comment">
                    <figure>
                        <img src="./public/img/foto-profile.png" alt="">
                    </figure>
                    <div>
                        <p>@user123456789</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam est vero maxime deleniti veniam quae ex consequatur, iure suscipit provident? Excepturi illum, nisi architecto non saepe ullam molestias. A, est.</p>
                    </div>
                </div>
                <div class="comment">
                    <figure>
                        <img src="./public/img/foto-profile.png" alt="">
                    </figure>
                    <div>
                        <p>@user123456789</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam est vero maxime deleniti veniam quae ex consequatur, iure suscipit provident? Excepturi illum, nisi architecto non saepe ullam molestias. A, est.</p>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <footer>
        <div class="container-footer">
            <div class="ft-1">
                <p class="logo-footer" style="font-size: 400%; cursor: pointer;">Clouths.</p>
                <p>@2024. All right reserved</p>
            </div>
            <div class="ft-2">
                <p><a href="">Main Page</a></p>
            <p><a href="">Catalog</a></p>
            <p><a href="">About Us</a></p>
            <p><a href="">Lookbook</a></p>
            </div>
            <div class="ft-3">
                <p><a href="">Size Guide</a></p>
                <p><a href="">Shipping & Payment</a></p>
                <p><a href="">About us</a></p>
                <p><a href="">Terms Of Use</a></p>
                
            </div>
            <div class="ft-4">
                <p><a href="">mas.bizon@gmail.com</a></p>
                <p>+62 85 877 838 985</p>
            </div>
        </div>
    </footer>
        
    <script src="./public/js/script.js"></script>

    <script>
        feather.replace()
    </script>
</body>
</html>