<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Produk | Clouths.</title>
    <link rel="stylesheet" href="./public/css/katalog.css">
    <link rel="icon" type="png/jpg" href="./img/icon-logo.png">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <header style="box-shadow:0px 2px 5px rgba(0, 0, 0, 0.3);">
        <div class="container-header">
            <nav class="search">
                <input type="text">
                <i data-feather="search" class="bt-search"></i>
            </nav>
            <figure>
                <h1 class="logo-header">Clouths.</h1>
            </figure>
            <nav class="authen">
                <button class="bt-masuk">Masuk</button>
                <button class="bt-daftar">Daftar</button>
            </nav>
    </header>
    <section id="our_products">
        <center>
            <h1 style="margin-top:7%; margin-bottom:4%">Our Products</h1>
        </center>
        <div id="product_container">
            </div>
        </div>
    </section>

    <script src="./public/js/katalog.js">

    </script>
    
    <script>
        feather.replace()
    </script>
</body>
</html>